/* Import the google web fonts you want to use */

.data-field{
	display:block;
	background-color: rgb(231, 235, 240);
	margin-bottom:.2rem;
	padding:.3rem;
}
.data-label{
    display:block;
	color:#800000;
	font-weight: bold;
	font-size: 1.1rem;
}

.label-link{
    display:block;
	margin-bottom: .5rem;
	color:#800000;
	font-weight: bold;
	cursor: pointer;
}


.card-head{
	border-radius: 10px 10px 0 0 ;
	padding: .5rem;
	color:white;
	font-weight: bold;
	font-size: 1.3rem;
}

.us{background-color: darkblue;}
.brit{background-color: darkred;}

.card-body{
	padding: .5rem;
}
.card-foot{
	padding: 0 .5rem .5rem .5rem;
}

/* Flexbox stuff */

.cards {
	margin-left: 1rem;
	/*display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; */
}

.card {
	margin-right:1rem;
	margin-top:1rem;
	/*flex: 1 1 20rem; */
	border-radius: 0 0 10px 10px;
	background-color: rgb(213, 220, 228);
}

